
body {
    background-image: url("images/backgroundleaves.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: #ECE3DF;
    /* border: 5px double #23314A;
    border-radius: 5px; */
    flex: 1;
    color: #0A3323;
    font-family: "Delius", "Arial" ;
    font-size:large;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-main{
    height: 85%;
    background-color: #ECE3DF;
    border-radius: 5px;
    border: 1px solid #23314A;
    display: flex;
    flex-direction: row;
}

.container-horz{
    background-color: #ECE3DF;
    border-radius: 5px;
    border: 1px solid #23314A;
    height: 85%;
    display:flex;
    flex-direction: row;
}

.container{
    width: 100%;
    background-color: #ECE3DF;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #23314A;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box; 
    align-items: center;
    flex-direction: column;
}

.column-50{
    width: 50%;
    background-color: #ECE3DF;
    /* border: 1px solid #23314A; just for development visual */
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box; 
    align-items: center;
    flex-direction: column;
}

.column-40{
    width: 40%;
    background-color: #ECE3DF;
    /* border: 1px solid #23314A; just for development visual */
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box; 
    align-items: center;
    flex-direction: row;
}

.column-60{
    width: 60%;
    background-color: #ECE3DF;
    /* border: 1px solid #23314A; just for development visual */
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box; 
    align-items: center;
    flex-direction: column;

}

img {
    max-inline-size: 100%;
    block-size: auto;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-self: center;
    align-self: center;
}

.headshot{
    border-radius: 5px;
    border: 1px solid #23314A;
}

dl{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

iframe{
    border: 1px solid #23314A;
    border-radius: 5px;
}

p{
    text-align: center;
}

.header {
    position: sticky;
    top: 0;
    overflow: hidden; 
    background-color: #a7ad89; 
    padding: 20px 10px; 
    flex-wrap: wrap;
    border-radius: 5px;
    height: 10%;
    border: 1px solid #23314A;
}

.header-right {
    float: right;
}

.header a {
    float: left; 
    color: black; 
    text-align: center; 
    padding: 12px; 
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px; 
    border-radius: 5px; 
    background-color: #E5C2BD;
    margin-right:5px;
    border: 1px solid #23314A;
    color: #0A3323;
    font-family: "Delius Unicase", "Arial";
}

.header a:hover{
    background-color: #e9b9b2;

}

footer {
    background-color: #a7ad89; 
    /* padding: 10px; */
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    height: 10%;
    color: #0A3323;
    font-family: "Delius Unicase", "Arial";
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #23314A;
    border-radius: 5px;

}

@media only screen and (max-width: 800px) {

    .container-main{
        flex-direction: column-reverse;
        min-height: 85%;
        height: auto;
    }
    .container-horz{
        flex-direction: column;
        min-height: auto;
        height: auto;
    }
    .column-50{
        width: 100%;
    }
    .column-40{
        width: 100%;
    }
    .column-60{
        width: 100%;
    }
    iframe{
        width: 100%;
    }
    .visual{
        display: none;
    }


}
