
body {
  /* color image repeat position */
  background: #ece3df url("images/backgroundleaves.jpg") repeat fixed;
  color: #0a3323;
  display: flex;
  /* style weight size/height family */
  font: 20px  "Delius", "Arial";
  flex-direction: column;
  justify-content: center;
}

.title{
  align-items: center;
  background-color: #ece3df;
  border-radius: 5px;
  /* width style color */
  border: 1px solid #23314a;
  display: flex;
  justify-content: center;
}

.container-main{
  background-color: #ece3df;
  border-radius: 5px;
  border: 1px solid #23314a;
  display: flex;
  flex-direction: row;
  min-height: 85%;
  /* margin-bottom: 0.5px; */
}

.container-horz{
  background-color: #ece3df;
  border-radius: 5px;
  border: 1px solid #23314a;
  display:flex;
  flex-direction: row;
  min-height: 85%;
  /* margin-bottom: 0.5px; */
}

.container{
  align-items: center;
  background-color: #ece3df;
  border-radius: 5px;
  border: 1px solid #23314a;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.view-container{
  align-items: center;
  background-color: #ece3df;
  border-radius: 5px;
  /* border: 1px solid #23314A; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-container {
  align-items: center;
  background-color: #ece3df;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column-50{
  align-items: center;
  background-color: #ece3df;
  border-radius: 5px;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 50%;
}

.column-40{
  align-items: center;
  box-sizing: border-box; 
  background-color: #ece3df;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  width: 40%;
}

.column-60{
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box; 
  background-color: #eCe3df;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 60%;
}

img {
  align-self: center;
  block-size: auto;
  display: flex;
  justify-self: center;
  max-inline-size: 100%;
  margin-bottom: 5px;
  max-width: 100%;
  max-height: 100%;
}

.headshot{
  border-radius: 5px;
  border: 1px solid #23314a;
}

dl{
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

p{
  text-align: center;
}

/* used for resume display */
iframe{
  border: 1px solid #23314a;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* header style */

.header-center{
  align-items: center;
  justify-content: center;
}

.header {
  align-items: center;
  background-color: #a7ad89; 
  border-radius: 5px;
  border: 1px solid #23314a;
  justify-content: center;
  min-height: 10%;
  padding: 20px 10px 10px 10px; 
  position: sticky;
  top: 0;
}

.header-right p{
  display: none;
}

.header-right {
  float: right;
}

/* gives the button the pressed in affect */

.button {
  border-radius: 5px;
  border: 1px solid #23314a;
  background: linear-gradient(to bottom, #efe5e4, #e5c2bd);
  background-color: #e5c2bd;
  box-shadow:
    inset 0 1px #525252,
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  color: #0a3323;
  cursor: pointer;
  float: left; 
  font: 18px/25px "Delius Unicase", "Arial";
  margin-right:5px;
  overflow: hidden;
  position: relative;
  padding: 12px; 
  text-align: center; 
  text-decoration: none;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover{
  /* horz vert shadow spread color inset */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); /*makes button jump */
}

.button:active{
  background: linear-gradient(to bottom, #e5c2bd, #efe5e4); /* makes button look pressed in  */
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0); /*makes button jump */
}

/* footer formats*/
footer {
  align-items: center;
  background-color: #a7ad89; 
  border: 1px solid #23314a;
  border-radius: 5px;
  bottom: 0;
  color: #0a3323;
  display: flex;
  font: 15px "Delius Unicase", "Arial";
  height: 10%;
  justify-content: center;
  left: 0;
  margin-top: auto;
  position: relative;
  width: 100%;
}

/* 
.footer-left{
  float: left;
} */

.footer-right{
  align-items: center;
  float: right;
  /* justify-content: center; */
}

pre{ /*used to keep the whitespace in the footer text */
  color: #0a3323;
  font: 15px "Delius Unicase", "Arial";
}

/*sets up for when the screen is smaller and these will act different */

.dropdown {
  display: flex;
  flex-direction: row;
  position: relative;
}

/* .dropdown-content-main {
  display: none;
  position: absolute;
  background-color: #ECE3DF;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 4px;
  z-index: 1;
} */

.show {
  display: block;
}

.dropbtn{
  display: none;
}

.dropdown-content-always{
  background-color: #dbd0c4;
  border: 1px solid #23314a;
  border-radius: 5px; 
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font: 18px/25px; 
  flex-wrap: wrap;
  gap: 5px;
  margin-right:5px;
  position: relative;
  padding: 12px; 
  text-align: center; 
  text-decoration: none;
}

.dropbutton:hover{
  display: show;
}

.header-right:hover .dropdown-content-always {
  align-items: center;
  display: block;
  display: flex;
  flex-direction: column;
}  

.hide{
  display: none
}

.dropbtn-always{
  display:none;
}

.dropbtn-always:hover{
  display: show;
}

/* style for javascript fractal tree */

input[type="range"] {
  width: 500px; /* Fixed width in pixels */
}

.slider-labels {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  margin-top: 5px;
}

/*style for the javascript drawbox */

.toolbar{
  /* float: left; */
  /* box-sizing: border-box;  */
  /* display: flex;
  flex-direction: column; */
  padding: 5px;
  margin: 6px;
  width: 100px;
}


.toolbar label{
  font-size: 22px;
  /* flex-direction: column; */
}

.toolbar input{
  /* flex-direction: column; */
  width: 100%;
}

canvas{
  border: 1px, solid, rgb(13, 13, 13);
  border-radius: 5px;
  /* box-sizing: border-box; */
  /* display: flex; */
  width: 100%;
}

.drawing-board{
  border: #0A3323;
  border-width: 2px;
}

.container-tool{
  background-color: #a7ad89;
  border-radius: 5px;
  border: 1px solid #23314a;
  display: block;
  margin-right: 3px;
  /* flex-direction: column; */

}

.container-drawBox{
  background-color: #ece3df;
  box-sizing: border-box; 
  border-radius: 5px;
  border: 1px solid #23314a;
  display: flex;
  float: left;
  flex-direction: row;
  padding: 20px;

  /* height: 80%; */
  /* width: 100%; */
  /* justify-content: center; */
  /* align-items: center; */
}


/* style for when the page is small or on a mobile device */
@media only screen and (max-width: 800px) {

  .container-main{
    flex-direction: column-reverse;
    height: auto;
    min-height: 85%;
  }

  .container-horz{
    flex-direction: column;
    height: auto;
    min-height: auto;
  }
  
  .column-50{
    width: 100%;
  }

  .column-40{
    width: 100%;
  }

  .column-60{
    width: 100%;
  }

  iframe{
    width: 100%;
  }

  .visual{
    display: none;
  }

  .dropdown-content{
    border: 1px solid #23314a;
    border-radius: 5px; 
    background-color: #dbd0c4;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font: 18px/25px; 
    gap: 5px;
    margin-right:5px;
    padding: 12px; 
    position: relative;
    text-align: center; 
    text-decoration: none;
  }

  .header-right{
    border: 1px solid #23314a;
    border-radius: 5px;
    box-shadow:
      inset 0 1px #525252,
      0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    background: linear-gradient(to bottom, #efe5e4, #e5c2bd);
    color: #ece3df;    
    cursor: pointer;
    font-size: 16px;
    float: left;
    padding: 12px;    
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-right:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  .dropdown-content {
    background-color: #ece3df;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    border: 1px solid #23314a;
    border-radius: 5px;
    display: none;
    overflow: visible;
    position: absolute;
  }

  .header-right:hover .dropdown-content {
    align-items: center;
    display: block;
    display: flex;
    flex-direction: column;
  }  

  label{
    color: #0a3323;
    display: flex;
    font: 18px/25px "Delius Unicase", "Arial" ;
    flex-direction: column; 
    justify-content: center;
  }

}
